.add__wrapper {
  min-height: 395px;
  padding-top: 20px;
  background-image:
    url("../../img/screen.jpg"),
    url("../../img/phone.png"),
    url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center 141px, center bottom, center;
  background-size: 111px 197px, 320px 286px, cover;
}

.add__text {
  font-family: "Open Sans Light", "Arial", serif;
  font-size: 24px;
  color: #ffffff;
  width: 280px;
  margin: 0 auto 0;
  text-align: center;
}

.add__access {
  background-color: @deepblue;
  min-height: 320px;
  padding: 40px 20px 0;
  text-align: center;
}

.add__download {
  width: 280px;
  height: 55px;
  background-color: @deepblue;
  font-family: "Open Sans Bold", "Arial", serif;
  font-size: 18px;
  color: @white;
  border-radius: 30px;
  border: 3px solid @white;
}

.add__icons {
  margin: auto;
  padding: 30px 0 0;
  height: 77px;
  width: 204px;
  background-image:
    url("../../img/apple-logo.svg"),
    url("../../img/android-logo.svg"),
    url("../../img/microsoft-logo.svg");
  background-repeat: no-repeat;
  background-position: left bottom, center bottom, right bottom;
}

.add__available {
  font-family: "Open Sans Light", "Arial", serif;
  font-size: 14px;
  color: @white;
  width: 280px;
  margin: 30px auto 0;
}
