.effect {
  @media (min-width: @desktop-width) {
    background-color: #f5f5f5;
  }
}

.effect__wrapper {
  display: none;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: grid;
    width: 660px;
    margin: auto;
    grid-template-rows: 168px 119px 50px;
    grid-template-columns: 1fr 1fr;
    background-image: url("../../img/Group 1.svg");
    background-size: 60% 82%;
    background-position: -22% 89%;
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    width: 940px;
    margin: auto;
    min-height: 479px;
    grid-template-rows: 209px 131px 1fr;
    grid-template-columns: 370px 1fr;
    background-image: url("../../img/Group 1.svg");
    background-size: 298px 345px;
    background-position: 0% 48%;
    background-repeat: no-repeat;
  }
}

.effect__heading,
.effect__description,
.effect__link {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: -1;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: -1;
  }
}

.effect__heading {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    .osbold();
    font-size: 30px;
    font-weight: 900;
    max-width: 168px;
    line-height: 36px;
    margin: auto 0 0 0;
  }

  @media (min-width: @desktop-width) {
    .osbold();
    font-size: 30px;
    font-weight: 900;
    max-width: 100%;
    line-height: 36px;
    margin: auto 0 14px 0;
  }
}

.effect__heading .npsb-tablet {
  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.effect__description {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    grid-row-start: 2;
    grid-row-end: 3;
    .os();
    font-size: 14px;
    line-height: 24px;
    max-width: 307px;
    margin: 11px 0 0;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 2;
    grid-row-end: 3;
    .os();
    font-size: 18px;
    line-height: 29px;
    max-width: 534px;
    margin: 11px 0 0;
  }
}

.effect__description .npsb-tablet {
  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.effect__link {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    grid-row-start: 3;
    grid-row-end: 4;
    .os();
    font-size: 14px;
    color: @deepred;
    text-decoration: underline;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 3;
    grid-row-end: 4;
    .os();
    font-size: 18px;
    color: @deepred;
    text-decoration: underline;
  }
}
