.form-contest {
  min-height: 171px;
  padding-top: 20px;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-contest__text {
  font-family: "Open Sans Light", "Arial", serif;
  font-size: 24px;
  color: #ffffff;
  width: 280px;
  margin: 0 auto 0;
  text-align: center;
}
