.general__text-wrapper {
  min-height: 251px;
  padding: 42px 0 0;
  text-align: center;
}

.general__text {
  .oslight();
  color: @black;
  font-size: 24px;
  line-height: 120%;
  margin: 0 auto 31px auto;
  width: 280px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    font-size: 40px;
    width: 588px;
  }
}

.general__text:nth-child(2) {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 580px;
  }
}

.general__list-wrapper {
  background-color: #f2f2f2;
  min-height: 751px;
  padding: 29px 20px 0;
  text-align: center;
  background-image:
    url("../../img/iphone screen-3.jpg"),
    url("../../img/iphone 3.png");
  background-repeat: no-repeat;
  background-position: center 509px, center 474px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    min-height: 500px;
    background-image:
      url("../../img/iphone screen-3.jpg"),
      url("../../img/iphone 3 (1).png");
    background-repeat: no-repeat;
    background-size: 237px 421px, auto;
    background-position: 30px bottom, 13px 16px;
  }
}

.general__list {
  display: grid;
  grid-gap: 30px;
  margin: 0 auto 0 auto;
  padding: 18px 0 0 0;
  list-style: none;
  width: 280px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    margin: 0 0 0 auto;
    text-align: left;
  }
}

.general__list-item-title {
  .osbold();
  font-size: 18px;
  margin: 0 0 13px 0;
}

.general__list-item-text {
  .os();
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 0 0;
}
