.info {
  display: grid;
  grid-template-rows: 90px 76px 80px 110px;
  text-align: center;
  min-height: 412px;
  padding: 42px 20px 20px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr 1fr;
    min-height: 404px;
  }

  @media (min-width: @desktop-width) {
    grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 404px;
  }
}

.info__questions {
  .oslight();
  font-size: 24px;
  text-align: center;
  line-height: 120%;
  margin: 0 0 0 0;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    font-size: 40px;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
  }
}

.info__call-title,
.info__email-title,
.info__guest-title {
  .osbold();
  font-size: 18px;
  margin: 0 0 0 0;
}

.info__call-text,
.info__email-text,
.info__guest-text {
  .oslight();
  color: @deepred;
  font-size: 24px;
  margin: 0 0 0 0;
}

.info__guest {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
