.map {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    height: 502px;
  }
}

.map__iframe {
  height: 200px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    height: 502px;
  }
}

.map__triangle {
  display: block;
  position: absolute;
  top: -3px;
  width: 100%;
  height: auto;
  fill: red;
  z-index: 1000;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    top: -5px;
  }

  @media (min-width: @desktop-width) {
    top: -19px;
  }
}
