.photo {
  .os();
  display: grid;
}

.photo__title-wrapper {
  .oslight();
  min-height: 170px;
  font-size: 14px;
  color: @white;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.photo__title {
  padding: 0;
  margin: 0 auto 0;
  width: 172px;
}

.photo__text-wrapper {
  .oslight();
  text-align: center;
  font-size: 14px;
  width: 280px;
  margin: auto;
}

.photo__text {
  width: 280px;
}

.photo__list {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 620px;
    grid-gap: 20px;
    margin: auto;
    grid-template-rows: 630px 455px 455px 455px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    grid-gap: 20px;
    margin: auto;
    grid-template-rows: 602px 555px 555px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photo__list-item {
  display: grid;
  width: 280px;
  margin: 0 auto 10px;
  background-color: #e5e5e5;
  box-sizing: border-box;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 300px;
    margin: 0;
    grid-template-rows: 1fr min-content min-content min-content;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    margin: 0;
    grid-template-rows: 1fr min-content min-content min-content;
  }
}

.photo__list-item:first-child {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 620px;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.photo__author-name {
  .osbold();
}

.photo__author-time {
  .oslight();
  font-size: 12px;
  text-transform: uppercase;
}

.photo__author-name,
.photo__author-text,
.photo__author-likes {
  padding-left: 17px;
}

.photo__author-likes {
  color: @deepred;
  font-size: 12px;
  text-transform: uppercase;
}
