.photo {
  .os();
}

.photo__title-wrapper {
  .oslight();
  min-height: 170px;
  font-size: 14px;
  color: @white;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.photo__title {
  padding: 0;
  margin: 0 auto 0;
  width: 172px;
}

.photo__text-wrapper {
  .oslight();
  text-align: center;
  font-size: 14px;
  width: 280px;
  margin: auto;
}

.photo__text {
  width: 280px;
}

.photo__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.photo__list-item {
  width: 280px;
  margin: 0 auto 10px;
  background-color: #e5e5e5;
}

.photo__author-name {
  .osbold();
}

.photo__author-time {
  .oslight();
  font-size: 12px;
  text-transform: uppercase;
}

.photo__author-name,
.photo__author-text,
.photo__author-likes {
  padding-left: 17px;
}

.photo__author-likes {
  color: @deepred;
  font-size: 12px;
  text-transform: uppercase;
}
