.rates {
  position: relative;
  min-height: 481px;
  background-color: #f2f2f2;
  padding: 101px 0 0;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center -13px;
  background-size: 600px auto;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    padding: 97px 0 0 0;
    min-height: 387px;
    background-image: url("../../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: center -23px;
    background-size: 1200px auto;
  }

  @media (min-width: @desktop-width) {
    overflow: visible;
    padding: 157px 0 0 0;
    min-height: 534px;
    background-image: url("../../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 1200px auto;
  }
}

.rates__wrapper {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.rates__items {
  @media (max-width: @mobile-width-only) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.rates__switcher {
  display: none;
}

@media (max-width: @mobile-width-only) {
  .rates__switcher:first-child:checked ~ .rates__list {
    transform: translateX(280px);
    transition: 0.5s;
  }

  .rates__switcher:nth-child(2):checked ~ .rates__list {
    transform: translateX(0);
    transition: 0.5s;
  }

  .rates__switcher:nth-child(3):checked ~ .rates__list {
    transform: translateX(-280px);
    transition: 0.5s;
  }

  .rates__switcher:first-child:checked ~ .rates__nav label[for="rates-radio-1"],
  .rates__switcher:nth-child(2):checked ~ .rates__nav label[for="rates-radio-2"],
  .rates__switcher:nth-child(3):checked ~ .rates__nav label[for="rates-radio-3"] {
    background-color: #ffffff;
    border: 3px solid #283645;
    width: 12px;
    height: 12px;
  }
}

.rates__list {
  width: 840px;
  box-sizing: border-box;
  // transform: translateX(-280px);
  border-collapse: collapse;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    min-width: 940px;
    margin: 0 auto;
  }
}

.rates__list-head {
  color: #ffffff;
  background-color: #283645;
  height: 90px;
}

.rates__list-body .rates__field {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    border: 2px solid #e5e5e5;
    border-radius: 4px;
  }
}

.rates__value {
  position: relative;
  height: 98px;
  padding: 6px 0 21px 0;
  .osbold();
  text-transform: uppercase;
  border-left: 2px solid @white;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    height: 79px;
    padding: 11px 0 6px 0;
  }

  @media (min-width: @desktop-width) {
    width: 234px;
    height: 98px;
    font-size: 18px;
    border-radius: 4px;
    padding: 7px 0 6px 0;
  }
}

.rates__value:nth-child(1),
.rates__value:nth-child(3) {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 152px;
  }

  @media (min-width: @desktop-width) {
    width: 234px;
  }
}

.rates__value--flag::before {
  position: absolute;
  display: block;
  content: "хит";
  height: 10px;
  width: 28px;
  top: 20px;
  left: 9px;
  .os();
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d22856;
  transform: rotate(-45deg);
  z-index: 10;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    height: 10px;
    width: 28px;
    top: 20px;
    left: 2px;
  }

  @media (min-width: @desktop-width) {
    top: 23px;
    left: 13px;
  }
}

.rates__hit {
  position: absolute;
  display: none;
}

.rates__value--flag .rates__hit {
  display: block;
  top: 0;
  left: -2px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    top: -12px;
    left: -2px;
  }

  @media (min-width: @desktop-width) {
    top: 2px;
    left: -2px;
  }
}

.rates__value p {
  .oslight();
  margin: 2px 0 0 0;
  font-size: 18px;

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.rates__field {
  position: relative;
  background-color: @white;
  border: 2px solid #e5e5e5;
  border-top: none;
  .os();
  font-size: 14px;
  text-transform: uppercase;
  height: 60px;
  padding: 0 0 0 19px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    height: 46px;
    padding: 2px 0 0 16px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    height: 61px;
    padding: 0 0 0 21px;
    text-transform: none;
  }
}


.rates__field--empty {
  @media (max-width: @mobile-width-only) {
    min-width: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 155px;
    text-transform: none;
  }
}

.rates__value.rates__value--empty {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    background-color: #f2f2f2;
    border: none;
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
    border: none;
  }
}


.rates__field--cancel,
.rates__field--none,
.rates__field--ok {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    font-size: 0;
    line-height: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 0;
    line-height: 0;
  }
}

.icon-yes,
.icon-no {
  position: absolute;
  top: 19px;
  right: 20px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    top: 10px;
    right: 61px;
  }

  @media (min-width: @desktop-width) {
    top: 31%;
    right: 44%;
  }
}
