.reviews {
  padding: 20px 0 34px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    padding: 77px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    padding: 74px 0 0 0;
  }
}

.reviews__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding-top: 95px;
    // padding-bottom: 59px;
    background-image: url("../../img/icon-quotes.svg");
    background-size: 80px 63px;
    background-repeat: no-repeat;
    background-position: 50% -2px;
  }
}

.reviews__items {
  position: relative;
  min-height: 290px;
  overflow: hidden;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    min-height: 263px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    margin-bottom: -27px;
  }
}

.reviews__intro,
.reviews__switcher {
  display: none;
}

.reviews .reviews__switcher:nth-child(1):checked ~ .reviews__item--review-peter,
.reviews .reviews__switcher:nth-child(2):checked ~ .reviews__item--review-vasya,
.reviews .reviews__switcher:nth-child(3):checked ~ .reviews__item--review-kolya {
  position: static;
  padding-bottom: 30px;
  visibility: visible;
  opacity: 1;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
  }
}

.reviews .reviews__switcher:nth-child(1):checked ~ .reviews__nav label[for="reviews-radio-1"],
.reviews .reviews__switcher:nth-child(2):checked ~ .reviews__nav label[for="reviews-radio-2"],
.reviews .reviews__switcher:nth-child(3):checked ~ .reviews__nav label[for="reviews-radio-3"] {
  background-color: #ffffff;
  border: 3px solid #283645;
  width: 12px;
  height: 12px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    background-color: #ffffff;
    border: 3px solid #283645;
  }
}

.reviews__item {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    text-align: center;
    visibility: hidden;
    opacity: 0;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    visibility: hidden;
    opacity: 0;
  }
}

.reviews__inner-wrapper {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    order: 1;
  }

  @media (min-width: @desktop-width) {
    order: 1;
  }
}

.reviews__intro {
  .os();

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: block;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin-top: 0;
    font-size: 18px;
    line-height: 34px;
  }
}

.reviews__content,
.reviews__title {
  margin-bottom: 13px;
}

.reviews__title {
  .osbold();
  font-size: 18px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    font-size: 20px;
    margin: 23px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 22px 0 0;
    font-size: 24px;
    line-height: 30px;
  }
}

.reviews__content {
  .os();
  font-size: 14px;
  line-height: 30px;
  margin-top: 16px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    font-size: 18px;
    order: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    order: 0;
    padding: 0 95px;
  }
}

.reviews__toggle {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    position: absolute;
    top: 46px;
    width: 60px;
    height: 42px;
    font-size: 0;
    line-height: 0;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 22px 41px;
    outline: none;
    cursor: pointer;
    z-index: 1;
  }
}

.reviews__toggle .arrow:hover {
  fill: #7e868f;
}

.reviews__toggle:active .arrow {
  opacity: 0.1;
}

@media (min-width: @desktop-width) {
  .reviews__toggle--prev {
    left: 0;
  }

  .reviews__toggle--next {
    right: 0;
  }
}

.reviews__toggle--prev .arrow {
  left: 0;
}

.reviews__toggle--next .arrow {
  right: 0;
}

.reviews__nav {
  position: absolute;
  bottom: -18px;
  left: 49.2%;
  transform: translateX(-50%);

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    bottom: 14px;
    left: 49.6%;
  }
}
