.site-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 155px 184px 154px 169px;
  }
}

.site-list__item {
  text-align: center;
}

.site-list__item--active .site-list__link-text::after {
  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -10px;
    left: 0;
    background-color: @white;
  }
}

.site-list__link {
  display: inline-block;
  height: 64px;
  width: 100%;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485461;

  @media (min-width: @desktop-width) {
    height: 100%;
    .os();
    text-transform: none;
    font-size: 18px;
    border: none;
  }
}

.site-list__link:hover .site-list__link-text {
  color: @deepred;
  transition: 0.5s;
}

.site-list__link:active .site-list__link-text {
  color: fade(@deepred, 30%);
  transition: 0.5s;

  @media (min-width: @desktop-width) {
    color: inherit;
    opacity: 0.3;
  }
}

.site-list__link-text {
  position: relative;
  display: inline-block;
  margin-top: 18px;
  font-size: 18px;

  @media (min-width: @desktop-width) {
    margin: 42px 0 0 0;
  }
}

.site-list__link-text--academy {
  @media (min-width: @desktop-width) {
    margin-left: 36px;
  }
}
